.dashContainer{
    display: grid;
    grid-template-areas: 'buttons activity';
    grid-template-columns: 20% 1fr ;
    gap: 10px;
}

.buttonsContainer{
    grid-area: buttons;
}


.activityContainer{
    grid-area: activity;
    display: flex;
    align-items: stretch;
}

.chamadosContainer{
    grid-area: chamados;
}

@media (max-width: 1080px) {
    .dashContainer {
        grid-template-areas: 'buttons'
                             'activity'
                            'chamados';
        grid-template-columns: 1fr;
    }
}